<div class="column">
  <h1>VideoApp</h1>
  <div class="row">
    <div class="users-list">
      <div class="list-item" *ngFor="let userId of activeUsers" (click)="callPeer(userId)">
        <p>{{userId}}</p>
      </div>
    </div>
    <div class="column">
      <video #localVideo autoplay></video>
      <div *ngIf="incomingCall" class="column">
        <div class="row">
          <button (click)="acceptCall()">Accept Call</button>
          <button>RejectCall</button>
        </div>
      </div>
      <video #remoteVideo autoplay *ngIf="callAccepted"></video>
    </div>
    <div>
      <button (click)="endCall()"> End call</button>
    </div>
  </div>
</div>
