.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 60px;
  border: 1px solid black;
}

.list-item:hover{
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}

video{
  width: 700px;
}
